<% include ../partials/header %>
<style>
.bg-img {
	background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url("<%=blog.image%>");
	background-repeat:no-repeat;
	text-align:center;
	background-size:cover;
	background-position:center center;
	color:#fff;
	margin-top:0px;
	height:450px;
	padding-top:300px;
	
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

a {
  color: #212529;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  a:focus, a:hover {
    color: #0085A1; }
  
.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px; }

.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>





  <!-- Header - set the background image for the header in the line below -->
  
      <header class="py-5 bg-image-full" style="background-image:url('<%=blog.image%>'); height:50%">
      <img class="img-fluid d-block mx-auto" src="/img/logo.png" alt="">
    </header>
  


    <!-- Content section -->
    <section class="py-5">
      <div class="container">
        <h1><%=blog.name%></h1>
        <p class="lead"><%=blog.subdescription%></p>
      </div>
    </section>
    
  <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.</p>

            <p>Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.</p>

            <p>What was most significant about the lunar voyage was not that man set foot on the Moon but that they set eye on the earth.</p>

            <p>A Chinese tale tells of some men sent to harm a young girl who, upon seeing her beauty, become her protectors rather than her violators. That's how I felt seeing the Earth for the first time. I could not help but love and cherish her.</p>

            <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.</p>

            <h2 class="section-heading">The Final Frontier</h2>
                  <h2 class="section-heading">Check out our video</h2>
     
                 <%-blog.description%>
                <iframe  height="300px" width="100%"
              src="https://www.youtube.com/embed/BCIw-ZIXXa4">
              </iframe>
          </div>
        </div>
      </div>
    </article>
<form action="/blogs/<%=blog._id %>?_method=DELETE" method="POST">
   <button class="btn btn-danger">Delete</button>
</form>
<% include ../partials/footer %>






